.c-level-list {
    list-style-type: none;
}

input[type=number] {
    width: 3rem;
}

summary h2 {
    display: inline;
}


select {
    width: 4rem;
    height: 1.85rem;
}

input[type=text][name=damage] {
    width: 13rem;
}
input[type=text][name=action-name] {
    width: 13rem;
}

input[type=text] {
    width: 4.5rem;
}

.c-footer-sticky {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}